# This workflow will install Python dependencies and run tests
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        pwd
        python -m pip install --upgrade pip
        pip install robotframework
        pip install robotframework-seleniumlibrary
        pip install webdriver-manager
        pip install requests
        pip install ./aquaAPI/aqua-rest-api-client/dist/aqua_rest_api_client-24.14.0.0-py3-none-any.whl
    - name: Test
      run: |
        robot --listener hooks/Hooks.py test-cases/demo.robot 
